NODE_ENV=development
PORT=3000
APP_NAME=baseline

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=app

SQS_TASK_QUEUE_URL=http://localhost:4566/000000000000/app-task.fifo
SQS_TASK_DLQ_URL=http://localhost:4566/000000000000/app-task-dlq.fifo
SQS_DOMAIN_EVENT_QUEUE_URL=http://localhost:4566/000000000000/app-events
AWS_ENDPOINT=http://localhost:4566
AWS_REGION=ap-northeast-2
